.banner {
    height: fit-content;
    background-color: #1e2130;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #4B5460;
    padding: 1rem 1rem;
    width: 99%;
}

.banner h5 {
    font-family: 'Open Sans Semi Bold', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #fff;
}

.banner button {
    color: #95969A;
    margin-right: 10px;
    height: 3rem;
    line-height: 3rem;
}

.banner button:hover {
    color: #92e0d3;
    border-color: whitesmoke;
}

.side_panel {
    top: 20px;
    left: 10px;
    height: 70px;
    width: 18rem;
    padding: 1rem;
    border-radius: 15px;
    background-color: #F3F1F5;
}

.upload_btn {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    background-color: #C9CCD5
}

.custom-tabs {
    background-color: #EFEFEF;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    height: fit-content;
    cursor: pointer;
  }
  
  #home_tab.custom-tab, #eda_tab.custom-tab, #model_tab.custom-tab {
    background-color: #EFEFEF;
    letter-spacing: 1px;
    color: inherit;
    border: 0;
    border-bottom: #EFEFEF solid 4px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 18px;
  }
  
  #home_tab.custom-tab--selected, #eda_tab.custom-tab--selected, #model_tab.custom-tab--selected {
    border-bottom: #A45D5D solid 4px !important;
  }